hr {
    border: none;
    height: 1px; /* ändra till t.ex. 0.5px eller 2px */
    background-color: #888;
}

.feed-container {
    width: 60%;
    margin: 0 auto; /* centrerar horisontellt */
    padding-top: 2rem;
}

.feed-header-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* så rubriken och rutan ligger i samma höjd */
    margin-bottom: 2rem;
    margin-top: -2rem;
}

.feed-header-row h1 {
    margin: 0; /* så rubriken inte trycker ner layouten */
}

.post-list {
    list-style: none;
    padding: 0;
    margin: 0;
}


.post-card {
    background: #0e2030;
    border: 1px solid rgb(56 64 75);
    border-radius: 4px;
    padding: 1rem 0.5rem;
    margin-bottom: 1rem;
    box-shadow: -1px -1px 8px 2px rgba(71, 52, 52, 0.75);
    transition: transform 0.1s ease, box-shadow 0.1s ease;

}

.post-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
}

.post-text {
    margin: 0 0 1rem 0;
    font-size: 1rem;
    line-height: 1.5;

}

.post-date {
    color: rgb(202, 198, 198);
    font-size: 0.85rem;
}

.dot {
    margin: 0 0.6rem;
    opacity: 0.6;
}

.friend-requests-box-feed {
    background: var(--bg-lightbrown);
    border: 1px solid var(--border);
    border-radius: 6px;
    padding: 0.2rem 0.6rem 0.4rem 1.2rem;
    margin-bottom: 0;
    width: 40%; /* så den följer högerkolumnens bredd */
    box-sizing: border-box;
    font-size: 0.75rem;
    align-text: center;
}

.friend-request-item-feed {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: 0.5rem;
    gap: 2rem;
}

.friend-request-item-feed button {
    background: var(--accent);
    color: var(--text-light);
    border: none;
    border-radius: 4px;
    padding: 0.2rem 0.6rem;
    font-size: 0.7rem;
    cursor: pointer;
}

.friend-request-item-feed button:hover {
    background: var(--accent-hover);
}

.link {
    margin-bottom: 1rem;
    margin-left: 1rem;
    font-size: 1rem;
}

.post-author {
    display: inline-flex;
    align-items: center;
    gap: 6px;
}

.post-author-avatar {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    object-fit: cover;
    background: #eee;
}