.friends-box {
    background: rgb(155, 120, 93);
    padding: 15px;
    border-radius: 10px;
    margin-top: 5px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.57);
    width: 70%;
}

.friends-title {
    margin: 0 0 10px 0;
    font-size: 1.3rem;
    font-weight: 600;
    color: #0e0c0a;
    margin-bottom: 10px;
    border-bottom: 1px solid #0a0909;
    padding-bottom: 6px;
}

.friends-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.friend-item {
    padding: 3px 0;
    border-bottom: 1px solid #0a0909;
}

.friend-item:last-child {
    border-bottom: none;
}

.friend-name {
    color: #0e0c0a;
    font-size: 0.85rem;
}