.login-form {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center; /* centrerar allt horisontellt */
}

.login-form input {
    width: 200px;
    padding: 0.5rem;
    margin: 0.5rem 0; /* vertikal separation */
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

.login-form button {
    margin-top: 1rem; /* lite extra space ovanför knappen */
    padding: 0.6rem 1.2rem;
    border-radius: 8px;
    border: 1px solid transparent;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

.login-form p {
    margin-top: 1.5rem; /* flyttar texten längre ner */
    font-size: 0.9rem;
}

.login-form span {
    color: #646cff;
    cursor: pointer;
    text-decoration: underline;
}
